body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flex-section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

h1 {
    font-size: 50px;
}

.orange-name {
    color: #FFA500;
}

.orange-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.frist-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.second-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.third-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}

.exprience-box {
    display: flex;
}

.exprience-content {
    width: 35%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 25px;
    box-shadow: 20px 20px 40px gray;
}

#box-1 {
    border-image: linear-gradient(purple, orange);
    border-image-slice: 1;
    border-left: 10px solid;
}

#box-2 {
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 10px solid;
}

footer p {
    text-align: center;
}