body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

h1 {
    font-size: 50px;
}

.orange-name {
    color: #FFA500;
}

.orange-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.main-container {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}